.container {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.header__logo {
  height: 30px;
  margin: 20px;
}
.header__nav-area {
  display: flex;
}
.header__nav-anchor {
  text-decoration: none;
  text-align: center;
  margin-right: 20px;
  font-size: 20px;
}

.top-content {
  position: relative;
}
.top-content__image {
  margin: 0 0 0 auto;
  display: block;
}
.top-content__text-area {
  position: absolute;
  top: 30%;
  left: 20%;
}
.top-content__text-en {
  margin-bottom: 60px;
  font-size: 80px;
  font-weight: bold;
  color: #b31667;
  font-family: 'Indie Flower', cursive;
}
.top-content__text-ja {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #b31667;
}
.top-content__text-ja-emphasis {
  color: #06a1b3;
}
.top-content__about {
  font-size: 20px;
  line-height: 30px;
  color: #5b5b5b;
}

.news-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.news-content__block {
  width: 50vw;
}
.news-content__text-en {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  color: #b31667;
}
.news-content__text-ja {
  margin-bottom: 20px;
  font-size: 30px;
  color: #5b5b5b;
}
.news-content__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-top: 1px solid gray;
}
.news-content__row:last-of-type {
  border-bottom: 1px solid gray;
}
.news-content__cate {
  border-radius: 30px;
  background: #b31667;
  padding: 10px;
  margin-right: 30px;
  color: white;
}
.news-content__data {
  margin-right: 30px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  padding: 40px;
}
.about-content__text-en {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  color: #b31667;
}
.about-content__text-en2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #5b5b5b;
}
.about-content__flex-row {
  display: flex;
  justify-content: space-between;
  height: 50%;
  width: 50vw;
}
.about-content__text-ja {
  margin-right: 30px;
  font-size: 20px;
  line-height: 30px;
}
.about-content__image {
  display: block;
  width: 20vw;
}

.service-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-content__block {
  margin: 40px;
  width: 70vw;
}
.service-content__text-en {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  color: #b31667;
}
.service-content__text-ja {
  margin-bottom: 30px;
  font-size: 30px;
  color: #5b5b5b;
}
.service-content__about-flex-row {
  display: flex;
  justify-content: space-between;
  background: #b31667;
}
.service-content__about1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #b31667;
}
.service-content__about-text1 {
  margin: 20px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.service-content__about-text2 {
  margin: 20px;
  font-size: 20px;
  line-height: 30px;
  color: white;
}
.service-content__about-image {
  width: 10vw;
  margin: 20px;
}
.service-content__about2,
.service-content__about3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.service-content__about2 {
  background: #b35b8b;
}
.service-content__about3 {
  background: #b2889e;
}

.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}
.blog-content__block {
  width: 70vw;
}
.blog-content__text-en {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  color: #b31667;
}
.blog-content__text-ja {
  margin-bottom: 30px;
  font-size: 30px;
  color: #5b5b5b;
}
.blog-content__flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.blog-content__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  width: 20vw;
  border-radius: 30px 30px 30px 30px;
  background: white;
}
.blog-content__image-area {
  position: relative;
  height: 50%;
  width: 20vw;
}
.blog-content__cate {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-radius: 30px 0 0 0;
  padding: 10px 30px;
  background: #b31667;
  color: white;
}
.blog-content__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 30px 30px 0 0;
  width: 20vw;
}
.blog-content__text-area2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.blog-content__detail-link {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: #5b5b5b;
}
.blog-content__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.blog-content__tag {
  font-size: 16px;
  line-height: 30px;
  color: #5b5b5b;
}
.blog-content__list-link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 200px;
  padding: 20px 0;
  margin: 0 auto;
  border-radius: 30px;
  background: white;
  border: 2px solid #b31667;
  color: #b31667;
  text-decoration: none;
}

.company-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.company-content__block {
  width: 50vw;
  margin: 40px;
}
.company-content__text-en {
  color: #b31667;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}
.company-content__text-ja {
  color: #5b5b5b;
  font-size: 30px;
  margin-bottom: 30px;
}
.company-content__table {
  width: 50vw;
}
.company-content__table-row {
  height: 16%;
  text-align: left;
}
.company-content__table-head {
  width: 30%;
  border: 1px solid #5b5b5b;
  padding: 20px;
  vertical-align: middle;
  color: #5b5b5b;
  background: #f5f5f5;
}
.company-content__table-data {
  border: 1px solid #5b5b5b;
  padding: 20px;
  color: #5b5b5b;
  vertical-align: middle;
}

.link-content {
  height: 400px;
  display: flex;
  flex-direction: row;
}
.link-content__recruit-card,
.link-content__interview-card {
  position: relative;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.link-content__image {
  position: absolute;
  height: 100%;
  width: 100%;
}
.link-content__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.question-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.question-content__bar {
  height: 50px;
  width: 2px;
  margin: 10px;
  background: #b31667;
}
.question-content__text {
  font-size: 20px;
}
.question-content__btn {
  font-size: 20px;
  width: 300px;
  padding: 20px 0;
  text-align: center;
  margin: 0 auto;
  border-radius: 50px;
  background: linear-gradient(#ff2992, #b31667);
  box-shadow: 0px 10px 0 #840050;
  color: white;
  text-decoration: none;
}
.question-content__btn::before {
  content: '';
  background: url(../img/mailicon.svg);
  background-size: cover;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 30px;
}

.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}
.copyright {
  font-size: 16px;
  color: #5b5b5b;
}
